body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

.calculator {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.display {
  font-size: 2em;
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: 2px;
  background-color: #ffae00;
  outline: none;
  font-size: 1.5em;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.operator {
  background-color: #000000;
  color: #fff;
}

button.double {
  grid-column: span 2;
}

button.equals {
  background-color: #4caf50;
  color: #fff;
}
